<div class="column is-3 product-list-item">
    <div class="box">
        <figure class="image is-4by3 mb-4">
            <img src="{{book.getImageURL}}">
        </figure>

        <h2 class="subtitle">Title:{{ book.title }}</h2>
        <h3 class="price is-size-6 mb-5">Author:{{ book.author }}</h3>
        <hr>
        <div class="row">
            <a href="{% url 'borrow' book.id %}" class="button btn-primary is-uppercase">Borrow</a>
            <a href="{% url 'book-detail' book.id %}" class="button btn-secondary is-uppercase">View</a>
        </div>

    </div>
</div>