{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
              <div class="box">
                  <p>Welcome to our <b>online book store website</b>. We currently avail to you all possible best-reader books and novels around Maseno Town
                      <br>for borrowing just by the click of a button.</p>
                  <p>
                      Please signup for a student account <a href="{% url 'student_signup' %}">here</a>. 
                      Staff<a href="{% url 'libman_signup' %}">signup</a>.
                  </p>

              </div>
                    </div>
            </div>
            <div class="card-footer">
                <strong>Already have an account? <a href="{% url 'login' %}" class="card-link">Login</a></strong>
            </div>
          </div>
    </div>
{% endblock %}