{% extends "core/base.html" %}
{% block content %}
<article class="media content-section box">
    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <div class="view overlay">
                    <figure class="image is-4by3 mb-4">
            <img src="{{book.getImageURL}}">
        </figure>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-4">

                    <div class="mb-3">
                        <p class="lead">
              <span class="mr-1">
                <strong> {{ book.title}}</strong>
              </span></p>
                        <a href="">
                            <span class="badge purple mr-1">Category:{{book.category}}</span><br>
                        </a>
                    </div>
                    <p class="lead">
                        <span class="mr-2">Copies Available:{{book.available_copies}}</span><br>
                        <span class="mr-1">ISBN:{{book.isbn}}</span><br>
                        <span class="mr-1">Genere:{{book.genre.name}}</span><br>
                    </p>
                    <p><strong>Summery:</strong><br> {{book.summary}}.</p>
                    {% if book.available_copies and user.is_authenticated %}
                    <br>
                    <a class="btn btn-primary" href="{% url 'borrow' pk=book.id %}">Request Book</a>
                    {% endif %}
                </div>
                <!--Content-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>

    {% if rr|length == 0 %}
    <a class="btn btn-primary" href="{% url 'rate_book' book.id  %}">Give review about book</a>
    {% endif %}
        {% if reviews %}
        <h1 style="text-decoration:underline;"><strong>Your Review about <span ><strong style="color:blue;">{{book.title }}</strong></span></strong></h1>
        {% for r in reviews %}
        {% if r.review is not "none" %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <p>
                        <a class="float-left"
                           href="{% url 'studentlist' %} "><strong>{{ r.user.username }}</strong></a>
                    </p>
                    <div class="clearfix"></div>
                    <p>{{ r.review }}</p>
                    <hr>
                    <h3 class="my-4"><a href="{% url 'rating_update' r.id %}">Update</a></h3>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        No reviews yet
        {% endif %}
    </div>
    </div>
    <!--Grid row-->
    {% if similar_products %}
    <hr>

    <div class="columns is-multiline">
        <div class="column is-12">
            <h2 class="subtitle">Similar books</h2>
        </div>

    </div>
    {% endif %}
    <!--Grid row-->
</article>

{% endblock content %}

