<nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

    <!-- Navbar brand -->
    <span class="navbar-brand">Categories:</span>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{% url 'frontpage' %}"
               class="nav-link waves-effect"><strong>All</strong></a>
            <span class="sr-only">(current)</span>
            </a>
            </li>
            {% for category in menu_genres %}
            <li class="nav-item">
                <a href=""
               class="nav-link waves-effect"><strong>{{category.title}}</strong></a>
            <span class="sr-only">(current)</span>
            </a>
            </li>
            {% endfor %}
        </ul>
        <!-- Links -->
        <form method="get" action="{% url 'search' %}" class="form-inline">
            <div class="field has-addons">
                <div class="control">
                    <input type="text" class="input" placeholder="Search..." name="query">
                </div>
                <div class="control">
                    <button class="button is-dark is-uppercase" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Collapsible content -->

</nav>