   <h1 class="my-4 text-center is-uppercase"> <strong>Chat Room - Give Comments & Start Chats</strong></h1>
   <div id="disqus_thread">

    </div>
    <script>
        var disqus_config = function () {
        this.page.url = 'http://3.320.162.184/tweets.html'; 
        this.page.identifier='myalxblog1'; 
        };
        
        (function() { 
        var d = document, s = d.createElement('script');
        s.src = 'https://myalxblog.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
